form {
  width: 80%;
  margin: 50px auto;
  input,
  textarea {
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 4px;
  }
  input#name,
  input#email {
    height: 40px;
  }
  textarea {
    height: 150px;
    resize: none;
  }
  .name-container,
  .email-container,
  .message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .submit-container {
    padding-top: 20px;
    input {
      text-transform: uppercase;
      @include InterExtraBold;
      letter-spacing: 1px;
      color: $infos;
      font-size: 0.8rem;
      border: 2px solid $infos !important;
      border-radius: 0;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        color: $white;
        background: $infos;
      }
    }
  }
}
