@import "./settings";
@import "./layouts/header";
@import "./components/navbar";
@import "./layouts/section1";
@import "./components/button";
@import "./layouts/section2";
@import "./layouts/footer";
@import "./components/form";
