header {
  height: 100vh;
  @include centerChild;
  .header-container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    h1 {
      @include InterExtraBold;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: min(
        max(1.5rem, calc(1.5rem + ((1vw - 0.2rem) * 3.6364))),
        3.5rem
      );
      min-height: 0vw;
    }
    p {
      @include MerriweatherLight;
      color: $white;
      font-style: italic;
      padding: min(max(20px, calc(1.25rem + ((1vw - 3.2px) * 2.2727))), 40px)
        20px;
      font-size: min(
        max(0.7rem, calc(0.7rem + ((1vw - 0.2rem) * 0.7273))),
        1.1rem
      );
      min-height: 0vw;
    }
    #arrow {
      margin: 0 auto;
      width: min(max(35px, calc(2.1875rem + ((1vw - 3.2px) * 1.7045))), 50px);
      height: min(max(35px, calc(2.1875rem + ((1vw - 3.2px) * 1.7045))), 50px);
      min-height: 0vw;
      color: $white;
      font-size: min(
        max(0.7rem, calc(0.7rem + ((1vw - 0.2rem) * 0.5455))),
        1rem
      );
      min-height: 0vw;
      border: 1px solid $white;
      border-radius: 50%;
      @include centerChild;
      transition: 0.3s ease;
      &:hover {
        color: $black;
        background: $white-hover;
      }
    }
  }
}
