section {
  transform: translateY(-50px);
  .section2 {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    background: $white;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    @media screen and (max-width: 800px) {
      display: block;
    }
    .s2-card {
      border-top: 1px solid rgba(128, 128, 128, 0.253);
      &:first-child {
        border-right: 1px solid rgba(128, 128, 128, 0.253);
      }
      padding-bottom: 50px;
      .date {
        padding: 40px 0 20px;
        @include MerriweatherLight;
        font-size: min(
          max(0.7rem, calc(0.7rem + ((1vw - 0.2rem) * 0.1818))),
          0.8rem
        );
        min-height: 0vw;
      }
      h3 {
        @include InterExtraBold;
        text-transform: uppercase;
        width: 50%;
        margin: 0 auto;
        letter-spacing: 1px;
        font-size: min(
          max(1rem, calc(1rem + ((1vw - 0.2rem) * 0.3636))),
          1.2rem
        );
        min-height: 0vw;
        padding-bottom: 20px;
      }
      .img img {
        width: 80%;
      }
      p {
        width: 80%;
        margin: 0 auto;
        text-align: left;
        font-size: min(
          max(0.8rem, calc(0.8rem + ((1vw - 0.2rem) * 0.3636))),
          1rem
        );
        min-height: 0vw;
        padding: 30px 0;
        line-height: 25px;
      }
      .s2-btn-container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
